.App {
  text-align: center;
  background-color: lightgreen;
}
h1{
  font-size: 5rem;
  margin-bottom: 100px;
}
input{
  margin: 10px;
}
label{
  margin-right: 30px;
}
.start{
  height: 120px;
  width: 200px;
  color: blue;
  background-color: lightgrey;
}
.button{
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 30%;
  height: 100px;
  width: 250px;
  color:blue;
  background-color: lightgrey;
}
.radio{
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.act{
  border: solid black 3px;
  padding: 15px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;

}
.foot{
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.lds-facebook {
  display: inline-block;
  position: relative;
  left: 31%;
  width: 80px;
  height: 80px;
}
.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: green;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}