.App {
  text-align: center;
  background-color: lightgreen;
}
h1{
  font-size: 5rem;
  margin-bottom: 100px;
}
input{
  margin: 10px;
}
label{
  margin-right: 30px;
}
.start{
  height: 120px;
  width: 200px;
  color: blue;
  background-color: lightgrey;
}
.button{
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 30%;
  height: 120px;
  width: 200px;
  color: blue;
  background-color: lightgrey;
}
.radio{
  margin-bottom: 50px;
  font-size: 1.5rem;
}
.act{
  border: solid black 3px;
  padding: 15px;
  margin-left: 30%;
  margin-right: 30%;
  text-align: left;

}
.foot{
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 600px;
}